/*div, link, button {*/
/*    font-family: Mediator, serif;*/
/*}*/
.page_content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',Arial,sans-serif;
    width: 100%;
}