.arrow_calculator_curved {
    width: 50px;
    position: absolute;
    left: -65px;
    top: -30px;
}
.arrow_calculator_straight {
    width: 20px;
    position: absolute;
    display: none;
    left: 150px;
    top: -50px
}
.calculator_div {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.calculator_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ef40bf;
    border-radius: 100px;
    height: 60px;
    width: 330px;
    font-size: 16px;
    font-weight: 700;
    margin: 30px auto auto;
    position: relative;
}

.table_row, .table_header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: 80%;
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    height: 60px;

}
.first_column_schedule, .second_column_schedule, .third_column_schedule, .fourth_column_schedule {
    position: absolute;
    bottom: 19px;
    left: 2%;
    /*height: 60px;*/

}
.second_column_schedule {
    left: 20%;
    word-wrap: break-word;
    width: 20%;
}
.third_column_schedule {
    left: 48%;
    width: 40%;
    word-wrap: break-word;
}
.fourth_column_schedule {
    left: 88%;
}

.table_header {
    font-size: 14px;
    color: #575F6E;
}
.table_row {
    font-size: 16px;
    color: #242731;
    /*font-family: 'Mediator', Arial, sans-serif;*/
}
.sign_up_schedule_button {
    color: #b752c9;
    border: 1px solid #b752c9;
    border-radius: 6px;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    height: 25px;
    cursor: pointer;
    margin-right: 2px;
}

@media screen and (max-width: 850px) {
    .second_column_schedule {
        left: 27%;
    }
}

@media screen and (max-width: 550px) {
    .arrow_calculator_curved {
        display: none;
    }
    .arrow_calculator_straight {
        display: initial;
    }
    .calculator_button {
        margin-top: 60px;
    }
}