.popup_schedule {
    height: 800px;
    overflow: scroll;
    animation: window-popup-schedule 0.5s ease-in-out;
}
@keyframes window-popup-schedule {
    from {
        transform: translateY(-29em) scale(0.5);
    }
    to {
        transform: translateY(-400px) scale(1);
    }
}
.schedule_form_title {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.schedule_form_button {
    background-color: black;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    margin: 30px auto 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.schedule_comment {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px;
}
.schedule_form .modal_window_title {
    font-size: 17px;
}
.react-datepicker__input-container input {
    display: block;
    width: 300px;
    height: 30px;
    margin-left: 13px;
}

.regulations input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    /*bottom: 20px;*/
    width: 20px;
    height: 20px;
    transform: translate(-372px, 126px);
    /*position: absolute;*/
}

/* Создаем стилизованный чекбокс */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    /*background-color: black;*/
    border-radius: 3px;
    border: 1px solid black;
    /*cursor: pointer;*/
    position: relative;
    transform: translateY(4px);
    margin-top: 20px;
    /*color: #1f5bff;*/
}

/* Показываем галочку, когда чекбокс отмечен */
input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '\2713'; /* галочка */
    font-size: 19px;
    color: black;
    position: absolute;
    transform: translate(2px, -3px);
    /*left: 5px;*/
    z-index: 10;
}