.popup_schedule {
    height: 750px;
    overflow: scroll;
    animation: window-popup-schedule 0.5s ease-in-out;
}
@keyframes window-popup-schedule {
    from {
        transform: translateY(-29em) scale(0.5);
    }
    to {
        transform: translateY(-375px) scale(1);
    }
}
.schedule_form_title {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.schedule_form_button {
    background-color: black;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.schedule_comment {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px;
}

.react-datepicker__input-container input {
    display: block;
    width: 300px;
    height: 30px;
    margin-left: 13px;
}